:root {
  --spacing: 0.3rem;
  --spacing-m: calc(var(--spacing) * 2);
  --spacing-l: calc(var(--spacing) * 3);
  --active-color: #2802b0;
  --active-text-color: #fff;
  --error-color: #fc134b;
  --inactive-color: #a7a7a7;
}

.inputGrid {
  display: grid;
  grid-template-areas: 'label' 'input';
  grid-gap: var(--spacing);
  margin-bottom: var(--spacing-l);
}

.label {
  display: block;
  grid-area: label;
  font-size: .9rem;
  text-transform: uppercase;
  color: var(--inactive-color);
  transition: all 200ms ease-in-out;
}

.input {
  display: block;
  grid-area: input;
  width: 100%;
  padding: var(--spacing-m);
  border: 2px solid var(--inactive-color);
  border-radius: var(--spacing);
  transition: all 200ms ease-in-out;
  outline: 0;
}

.submit {
  padding: var(--spacing-m);
  border: 0;
  border-radius: 2rem;
  background-color: var(--active-color);
  font-weight: bold;
  min-width: 10rem;
  color: var(--active-text-color);
  outline: 0;
  opacity: 1;
  transition: all 100ms ease-in-out;
}

.submit:hover {
  opacity: .8;
  cursor: pointer;
}

.submit:active {
  transform: scale(.95);
}

/* Error Colors */
.error, .error .label {
  color: var(--error-color)
}

.error .input {
  border-color: var(--error-color);
}

/* Input Focus */
.input:focus {
  border-color: var(--active-color);
}

input:focus + .label {
  color: var(--active-color)
}
